# Servidor
PORT=3001

# Base de datos MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=plc_database

# TheCatAPI (API #1)
# Obtener una API key gratuita en https://thecatapi.com/
CAT_API_KEY=KEY
CAT_API_BASE_URL=https://api.thecatapi.com/v1
